<!DOCTYPE html>
<html lang="en" ng-app="redditClone">
<head>
  <meta charset="UTF-8">
  <title>Reddit Clone</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>


<!-- NAVBAR -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Reddit Clone</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort by <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><button type="" class="btn btn-default addBtn" ng-click="addPostShow = !addPostShow"><span class="glyphicon glyphicon-plus">&nbsp;</span>Add Post</button></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


<!-- ADD POST FORM   -->
  <div ng-controller="EventController">
    <div class="container">
      <div class="row" ng-show="addPostShow">

      <form name="addPost" id="formPost" ng-submit="newPost()" ng-hide="addPost.$submitted" novalidate>
        
        <!-- <h3>{{addPost.title.$error}}</h3> -->
        <div class="form-group" ng-class="{invalid:addPost.title.$invalid && addPost.title.$touched, valid:addPost.title.$valid}">
          <label for="title">Title</label>
          <input type="text" placeholder="Title" class="form-control" id="title" name="title" ng-required="true" ng-model="mv.title">

          <p ng-show="addPost.title.$invalid && addPost.title.$touched">hey you! enter a title</p>
        </div>

        <!-- <h3>{{addPost.author.$error}}</h3> -->
        <div class="form-group" ng-class="{invalid:addPost.author.$invalid && addPost.author.$touched, valid:addPost.author.$valid}">
          <label for="author">Author</label>
            <input type="text" placeholder="Author" class="form-control" id="author" name="author" ng-required="true" ng-model="mv.author">

            <p ng-show="addPost.author.$invalid && addPost.author.$touched">umm yeah you need to enter your name</p>
        </div>

        <!-- <h3>{{addPost.image.$error}}</h3> -->
        <div class="form-group" ng-class="{invalid:addPost.image.$invalid && addPost.image.$touched, valid:addPost.image.$valid}">
          <label for="image">Image URL</label>
          <input type="text" placeholder="Image URL" class="form-control" id="image" name="image" ng-required="true" ng-model="mv.image">
            
            <p ng-show="addPost.image.$invalid && addPost.image.$touched">this will be boring without a picture</p>
        </div>

        <!-- <h3>{{addPost.description.$error}}</h3> -->
        <div class="form-group" ng-class="{invalid:addPost.description.$invalid && addPost.description.$touched, valid:addPost.description.$valid}">
          <label for="description">Description</label>
            <input type="text" placeholder="Description" class="form-control" id="description" name="description" ng-required="true" ng-model="mv.description">

            <p ng-show="addPost.description.$invalid && addPost.description.$touched">this will be even more boring without a description</p>
        </div>

        
        <button type="submit" class="btn btn-default" ng-disabled="addPost.$invalid">Submit Post</button>
      </form>
      </div>
    </div>


<!-- POST TEMPLATE -->


    <div class="container">
      <div class="row" id="post" ng-repeat="item in allPosts">
        <div class="col-xs-3">
          <img ng-src="{{item.image}}" id="postImg">
        </div>
        <div class="col-xs-9">
          <div class="col-xs-9" id="postTitle">
            <h4>{{item.title}}  | <span class="glyphicon glyphicon-arrow-up" ng-click="upRating()"></span>  <span class="glyphicon glyphicon-arrow-down" ng-click="downRating()"></span><span ng-class="{posVote:postRating > 0, negVote:postRating < 0}">  {{postRating}}</span></h4>
          </div>
          <div class="col-xs-3" id="postAuthor">
            <h5 class="pull-right">by {{item.author}}</h5>
          </div>
          <div class="col-xs-12" id="body">
            <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat vitae ea optio sequi. Totam voluptatem ipsum facilis itaque, et, fugit minus id, placeat porro nulla ullam reprehenderit quibusdam atque, velit.  -->{{item.description}}
          </div>
          <div class="col-xs-12" id="date">
            <span><span class="glyphicon glyphicon-calendar"></span> date | </span>
            <span ng-click="commentShow = !commentShow"><span class="glyphicon glyphicon-comment"></span>  comment | </span>
            <span ng-click="addCommentShow = !addCommentShow"><span class="glyphicon glyphicon-pencil"></span>  add comment </span>
          </div>
  <!-- COMMENTS TEMPLATE HIDDEN -->
          <div class="col-xs-12" id="comments" ng-show="commentShow">
            <div>{{author}} - {{comment}}</div>
          </div>
  <!-- COMMENTS FORM HIDDEN -->
          <div class="col-xs-12" ng-show="addCommentShow">
            <form class="form-inline">
              <div class="form-group">
                <label for="commentAuthor">Author</label>
                <input type="text" class="form-control" id="commentAuthor" placeholder="Author">
              </div>
              <div class="form-group">
                <label for="commentText">Text</label>
                <input type="text" class="form-control" id="commentText" placeholder="Text">
              </div>
              <button type="submit" class="btn btn-default">Add Comment</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>

<!-- SEED DATA -->
  <div class="container">
      <div class="row" id="post">
        <div class="col-xs-3">
          <img ng-src="http://images.vcpost.com/data/images/full/45699/deadpool.jpeg" id="postImg">
        </div>
        <div class="col-xs-9">
          <div class="col-xs-9" id="postTitle">
            <h4>DEADPOOL  | <span class="glyphicon glyphicon-arrow-up" ng-click="upRating()"></span>  <span class="glyphicon glyphicon-arrow-down" ng-click="downRating()"></span><span ng-class="{posVote:postRating > 0, negVote:postRating < 0}">  {{postRating}}</span></h4>
          </div>
          <div class="col-xs-3" id="postAuthor">
            <h5 class="pull-right">by Sam Hastings</h5>
          </div>
          <div class="col-xs-12" id="body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat vitae ea optio sequi. Totam voluptatem ipsum facilis itaque, et, fugit minus id, placeat porro nulla ullam reprehenderit quibusdam atque, velit. 
          </div>
          <div class="col-xs-12" id="date">
            <span><span class="glyphicon glyphicon-calendar"></span> date | </span>
            <span ng-click="commentShow = !commentShow"><span class="glyphicon glyphicon-comment"></span>  comment | </span>
            <span ng-click="addCommentShow = !addCommentShow"><span class="glyphicon glyphicon-pencil"></span>  add comment </span>
          </div>
  <!-- COMMENTS TEMPLATE HIDDEN -->
          <div class="col-xs-12" id="comments" ng-show="commentShow">
            <div>{{author}} - {{comment}}</div>
          </div>
  <!-- COMMENTS FORM HIDDEN -->
          <div class="col-xs-12" ng-show="addCommentShow">
            <form class="form-inline">
              <div class="form-group">
                <label for="commentAuthor">Author</label>
                <input type="text" class="form-control" id="commentAuthor" placeholder="Author">
              </div>
              <div class="form-group">
                <label for="commentText">Text</label>
                <input type="text" class="form-control" id="commentText" placeholder="Text">
              </div>
              <button type="submit" class="btn btn-default">Add Comment</button>
            </form>
          </div>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="row" id="post">
        <div class="col-xs-3">
          <img ng-src="http://www.theamazingspidermangame.com/etc/designs/atvi/amazing-spiderman-game/amazing-spiderman-game-2/images/features/img5.jpg" id="postImg">
        </div>
        <div class="col-xs-9">
          <div class="col-xs-9" id="postTitle">
            <h4>SPIDERMAN  | <span class="glyphicon glyphicon-arrow-up" ng-click="upRating()"></span>  <span class="glyphicon glyphicon-arrow-down" ng-click="downRating()"></span><span ng-class="{posVote:postRating > 0, negVote:postRating < 0}">  {{postRating}}</span></h4>
          </div>
          <div class="col-xs-3" id="postAuthor">
            <h5 class="pull-right">by Samuel Hastings</h5>
          </div>
          <div class="col-xs-12" id="body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat vitae ea optio sequi. Totam voluptatem ipsum facilis itaque, et, fugit minus id, placeat porro nulla ullam reprehenderit quibusdam atque, velit. 
          </div>
          <div class="col-xs-12" id="date">
            <span><span class="glyphicon glyphicon-calendar"></span> date | </span>
            <span ng-click="commentShow = !commentShow"><span class="glyphicon glyphicon-comment"></span>  comment | </span>
            <span ng-click="addCommentShow = !addCommentShow"><span class="glyphicon glyphicon-pencil"></span>  add comment </span>
          </div>
  <!-- COMMENTS TEMPLATE HIDDEN -->
          <div class="col-xs-12" id="comments" ng-show="commentShow">
            <div>{{author}} - {{comment}}</div>
          </div>
  <!-- COMMENTS FORM HIDDEN -->
          <div class="col-xs-12" ng-show="addCommentShow">
            <form class="form-inline">
              <div class="form-group">
                <label for="commentAuthor">Author</label>
                <input type="text" class="form-control" id="commentAuthor" placeholder="Author">
              </div>
              <div class="form-group">
                <label for="commentText">Text</label>
                <input type="text" class="form-control" id="commentText" placeholder="Text">
              </div>
              <button type="submit" class="btn btn-default">Add Comment</button>
            </form>
          </div>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="row" id="post">
        <div class="col-xs-3">
          <img ng-src="https://i.ytimg.com/vi/FEZLYYeECtc/maxresdefault.jpg" id="postImg">
        </div>
        <div class="col-xs-9">
          <div class="col-xs-9" id="postTitle">
            <h4>BATMAN  | <span class="glyphicon glyphicon-arrow-up" ng-click="upRating()"></span>  <span class="glyphicon glyphicon-arrow-down" ng-click="downRating()"></span><span ng-class="{posVote:postRating > 0, negVote:postRating < 0}">  {{postRating}}</span></h4>
          </div>
          <div class="col-xs-3" id="postAuthor">
            <h5 class="pull-right">by Ben Hastings</h5>
          </div>
          <div class="col-xs-12" id="body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat vitae ea optio sequi. Totam voluptatem ipsum facilis itaque, et, fugit minus id, placeat porro nulla ullam reprehenderit quibusdam atque, velit. 
          </div>
          <div class="col-xs-12" id="date">
            <span><span class="glyphicon glyphicon-calendar"></span> date | </span>
            <span ng-click="commentShow = !commentShow"><span class="glyphicon glyphicon-comment"></span>  comment | </span>
            <span ng-click="addCommentShow = !addCommentShow"><span class="glyphicon glyphicon-pencil"></span>  add comment </span>
          </div>
  <!-- COMMENTS TEMPLATE HIDDEN -->
          <div class="col-xs-12" id="comments" ng-show="commentShow">
            <div>{{author}} - {{comment}}</div>
          </div>
  <!-- COMMENTS FORM HIDDEN -->
          <div class="col-xs-12" ng-show="addCommentShow">
            <form class="form-inline">
              <div class="form-group">
                <label for="commentAuthor">Author</label>
                <input type="text" class="form-control" id="commentAuthor" placeholder="Author">
              </div>
              <div class="form-group">
                <label for="commentText">Text</label>
                <input type="text" class="form-control" id="commentText" placeholder="Text">
              </div>
              <button type="submit" class="btn btn-default">Add Comment</button>
            </form>
          </div>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="row" id="post">
        <div class="col-xs-3">
          <img ng-src="http://cdn.zmescience.com/wp-content/uploads/2013/07/superman-mkvsdc-1.jpg" id="postImg">
        </div>
        <div class="col-xs-9">
          <div class="col-xs-9" id="postTitle">
            <h4>SUPERMAN  | <span class="glyphicon glyphicon-arrow-up" ng-click="upRating()"></span>  <span class="glyphicon glyphicon-arrow-down" ng-click="downRating()"></span><span ng-class="{posVote:postRating > 0, negVote:postRating < 0}">  {{postRating}}</span></h4>
          </div>
          <div class="col-xs-3" id="postAuthor">
            <h5 class="pull-right">by Ben Hastings</h5>
          </div>
          <div class="col-xs-12" id="body">
            Superman looks goofy as fuck Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat vitae ea optio sequi. Totam voluptatem ipsum facilis itaque, et, fugit minus id, placeat porro nulla ullam reprehenderit quibusdam atque, velit. 
          </div>
          <div class="col-xs-12" id="date">
            <span><span class="glyphicon glyphicon-calendar"></span> date | </span>
            <span ng-click="commentShow = !commentShow"><span class="glyphicon glyphicon-comment"></span>  comment | </span>
            <span ng-click="addCommentShow = !addCommentShow"><span class="glyphicon glyphicon-pencil"></span>  add comment </span>
          </div>
  <!-- COMMENTS TEMPLATE HIDDEN -->
          <div class="col-xs-12" id="comments" ng-show="commentShow">
            <div>{{author}} - {{comment}}</div>
          </div>
  <!-- COMMENTS FORM HIDDEN -->
          <div class="col-xs-12" ng-show="addCommentShow">
            <form class="form-inline">
              <div class="form-group">
                <label for="commentAuthor">Author</label>
                <input type="text" class="form-control" id="commentAuthor" placeholder="Author">
              </div>
              <div class="form-group">
                <label for="commentText">Text</label>
                <input type="text" class="form-control" id="commentText" placeholder="Text">
              </div>
              <button type="submit" class="btn btn-default">Add Comment</button>
            </form>
          </div>

        </div>
      </div>
    </div>

<br><br><br>

<!-- COMMENT FORM -->




<br><br><br>




  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
  <script src="app.js"></script>
</body>
</html>