.addBtn{
  margin-top: 8px;
}

.valid{
  color: green;
}

.invalid{
  color: red;
}

#postImg{
  width:200px;
}

#post{
  background-color: #F8F8F8;
  border:1px solid #E7E7E7;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

#date{
  margin-top: 60px;
}

.posVote{
  color:green;
}

.negVote{
  color:red;
}

#formPost{
  margin-bottom: 20px;
}

#addComment{
  margin-top: 10px;
}

#comments{
  margin-top: 10px;
}


.ng-enter {
  transition:0.4s ease all;
  opacity:0;
  transform:translateX(-100%);
}

.ng-enter.ng-enter-active {
  opacity:1;
  transform:translateX(0);
}

.ng-leave {
  transition:0.4s ease all;
  opacity:1;
  transform:translateX(0);
}

.ng-leave.ng-leave-active {
  opacity:0;
  transform:translateX(-100%);
}

.ng-enter-stagger, .ng-leave-stagger {
  transition-delay: 0.2s;
  transition-duration:0;
}

.ng-hide {
  transition:0.5s linear all;
  opacity:0;
}
.ng-show {
  transition:0.5s linear all;
  opacity:1;
}